[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-inertia = "==0.9"
flask-vite = {path = "./pkg/flask_vite-0.5.2-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.12"
